<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hackerspace.gr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  </head>

  <body>

  <h1>{{ title }}</h1>

  <p>Welcome to {{ title }}</p>


  <!-- Le javascripts -->
  <script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>

  </body>
</html>
